{% extends 'main/layout.html' %}

{% block title %} Add Collaborator {% endblock %}

{% block content %}
  <h2>Add Collaborator</h2>
  <form method="POST" action="{{ url_for('main.add_collaborator') }}">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
      <label for="type_">Type</label>
      {{ form.type_(class="form-control", id="type_") }}
    </div>
    
    <div class="form-group">
      <label for="name">Name</label>
      {{ form.name(class="form-control", id="name") }}
    </div>
    
    <div class="form-group">
      <label for="particularities">Particulariries</label>
      {{ form.particularities(class="form-control", id="particularities") }}
    </div>
    
    <div class="form-group">
      <label for="email">Email</label>
      {{ form.email(class="form-control", id="email") }}
    </div>
    
    <div class="form-group">
      <label for="othercontact">Other Contact</label>
      {{ form.othercontact(class="form-control", id="othercontact") }}
    </div>

    <button type="submit" class="btn btn-success">Add Collaborator</button>
    <a href="{{ url_for('main.homepage') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
